{% load i18n %}

{% if page_obj.has_other_pages %}
<div class="pagination-container">
    <div class="pagination">
        {% if page_obj.has_previous %}
            <a href="?page=1{% if request.GET.urlencode %}&{{ request.GET.urlencode }}{% endif %}" class="page-link" title="{% trans 'First Page' %}">
                <i class="fas fa-angle-double-left"></i>
            </a>
            <a href="?page={{ page_obj.previous_page_number }}{% if request.GET.urlencode %}&{{ request.GET.urlencode }}{% endif %}" class="page-link" title="{% trans 'Previous' %}">
                <i class="fas fa-angle-left"></i>
            </a>
        {% else %}
            <span class="page-link disabled">
                <i class="fas fa-angle-double-left"></i>
            </span>
            <span class="page-link disabled">
                <i class="fas fa-angle-left"></i>
            </span>
        {% endif %}
        
        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <span class="page-link active">{{ num }}</span>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a href="?page={{ num }}{% if request.GET.urlencode %}&{{ request.GET.urlencode }}{% endif %}" class="page-link">{{ num }}</a>
            {% endif %}
        {% endfor %}
        
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}{% if request.GET.urlencode %}&{{ request.GET.urlencode }}{% endif %}" class="page-link" title="{% trans 'Next' %}">
                <i class="fas fa-angle-right"></i>
            </a>
            <a href="?page={{ page_obj.paginator.num_pages }}{% if request.GET.urlencode %}&{{ request.GET.urlencode }}{% endif %}" class="page-link" title="{% trans 'Last Page' %}">
                <i class="fas fa-angle-double-right"></i>
            </a>
        {% else %}
            <span class="page-link disabled">
                <i class="fas fa-angle-right"></i>
            </span>
            <span class="page-link disabled">
                <i class="fas fa-angle-double-right"></i>
            </span>
        {% endif %}
    </div>
    
    <div class="pagination-info">
        {% trans "Page" %} {{ page_obj.number }} {% trans "of" %} {{ page_obj.paginator.num_pages }}
        <span class="separator">|</span>
        {% trans "Total" %}: {{ page_obj.paginator.count }} {{ item_name|default:"items" }}
    </div>
</div>
{% endif %}
